footer.footer
	.footer_content
		.container
			.row
				.col-xs-12
					p.copyright
						| Copyrights &copy; 2020 Uki.L Studio
	
#gotop
		
script(type='text/javascript', src='js/vendors.js')
script(type='text/javascript', src='js/particles.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
script(type='text/javascript', src='js/style.js')