footer.footer
	.footer_content
		.container
			.row
				.col-xs-12
					p.copyright
						| Copyrights &copy; 2018 Uki.L 作品集
	
#gotop
		
script(type='text/javascript', src='js/vendors.js')
script(type='text/javascript', src='js/particles.min.js')
script(type='text/javascript', src='js/style.js')