meta(charset='utf-8')
meta(name='robots', content='index,follow')
link(rel='shortcut icon', href='images/favicon.png')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv='content-language', content='zh-Hant-TW')
meta(http-equiv='expires', content='-1')
meta(http-equiv='imagetoolbar', content='no')
meta(http-equiv='pragma', content='no-cache')
meta(http-equiv='window-target', content='_top')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='author', content='Uki_L')
meta(name='company', content='')
meta(name='copyright', content='2018 © Uki.L Studio')
meta(name='creation-date', content='07-aug-2018 20:40:01 GMT+8')
meta(name='distribution', content='global')
meta(name='revisit-after', content='1 days')
meta(name='description', content='Uki.L的作品集')
meta(name='keywords', content='pug, sass, gulp, javascript, jquery')
meta(property='og:url', content='')
meta(property='og:type', content='website')
meta(property='og:title', content='Uki.L Studio')
meta(property='og:image', content='')
meta(property='og:site_name', content='Uki.L Studio')
meta(property='og:description', content='Uki.L的作品集')
//if lt IE 9
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js')
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
title Uki.L的作品集
// 共用的CSS
link(href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet")
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
link(rel='stylesheet', href='css/style.css', type="text/css")
