input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

//------------------------------------------------------checkbox
.checkbox,
.checkbox-inline {
    padding-left: 0;
    input[type="checkbox"] {
        display: none;
        &+i {
            position: relative;
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 15px;
            cursor: pointer;
            vertical-align: 1px;
            &:before {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 1px;
                text-align: center;
                line-height: 15px;
                font-size: 12px;
                color: $white;
                background-color: $white;
                border: 1px solid lighten($grey, 10%);
                transform:rotate(0deg);
            }
            &+span {
                display: inline-block;
                margin-left: 5px;
            }
        }
        &:checked+i:before {
            display: inline-block;
            color: $black;
            background-color: $white;
            border-color: $black;
        }
    }
}

.checkbox {
    label {
        padding-left: 0;
    }
}

.radio-inline{
		label{
				min-height: auto;
				line-height: 100%;
		}
}

.radio,
.radio-inline {
    padding-left: 0;
    input[type="radio"] {
        display: none;
        i {
            font-size: 8px;
            transform: scale(0.66);
        }
        &+i {
            position: relative;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            vertical-align: 2px;
            &:before {
                display: inline-block;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                text-align: center;
                line-height: 16px;
                font-size: 12px;
                color: $white;
                background-color: $white;
                border: 1px solid lighten($grey, 10%);
            }
        }
        &:checked+i:before {
            display: inline-block;
            color: $black;
            background-color: $white;
            border-color: $black;
        }
    }
}

.checkbox-inline,
.radio-inline {
    vertical-align: baseline;
}