$white:#fff;
$black:#333;
$grey:#999;
$red:#ff0000;

$main_color:#ffb81e;
$sec_color:#0f475f;

$facebook:#3b5998;
$google:#dd4b39;
$never-line: #00c300;

$color-red-error: rgb(185, 74, 72);
$color-blue-hover: rgb(100, 177, 216);
$color-grey-arrow: rgb(204, 204, 204);
$width-default: 220px;
$zindex-select-dropdown: 1035; 

$bpc-media:1200px;
$spc-media:1199px;
$table-media:768px;
$mobile-media:767px;
$i7mobile-media:375px;
$smobile-media:320px;