extend layout/_layout.pug

include include/_mixins.pug

block content
	section#uki_slider
		.uki_v_infobox.fullbox
			.uki_caption.fullbox_cont
				img.img-circle.img-thumbnail(src="images/about_uki.jpg", alt="I am Uki")
				.caption
					h2 Hi! 我是清瀠
					.caption_typed
						p I Am Web Front-End Developer
						p I Am Front-End Engineer
					span#typed
			canvas.slider_mask
			.bg_svg
				svg(x='0px', y='0px', viewBox='0 186.5 1920 113.5')
					polygon(points='-30,300 355.167,210.5 1432.5,290 1920,198.5 1920,300')

	section#uki_profile
		.container
			.row
				.col-xs-12.titlebar_line
					h2.titles_line_font About Me
				.col-xs-12.col-sm-5.col-md-4
					.uki_info
						h3 李清瀠
							small Polly Lee
						p 前端工程師
						p 
							a(href="mailto:polly0215yu@gmail.com") polly0215yu@gmail.com
						ul.social_media
							li
								a(href="#", target="_blank")
									i.fab.fa-line
							li
								a(href="https://www.linkedin.com/in/polly-lee-a02454163/", target="_blank")
									i.fab.fa-linkedin
							li
								a(href="https://github.com/pollyPO1986", target="_blank")
									i.fab.fa-github-square
				.col-xs-12.col-sm-7.col-md-8
					.textedit.about_uki
						p 我叫李清瀠，前端工程師開發經驗約 8 年，前 4 年專注在網頁系統 UI 介面的架構規劃、切板及整體網頁動態效果；後 4 年主力於前端程式架構規劃與邏輯，主要使用 Vue.js 進行開發。
						p 現職除了程式開發外，還負責團隊前端技術文件產出、整合程式的寫作規範、新技術的導入和新進同仁的教育訓練，利用自己過往工作經驗，使用合適的方法與工具，帶領前端團隊在技術合作上的學習以及跨部門溝通與交流。
						p 我喜歡學習新事物，個性樂觀開朗、待人親切隨和，與團隊合作無間，公事上喜歡先收集資料研究並思考後，再謹慎進行任務的分配，並保留決策的彈性。
						p 對於注重網頁使用者體驗、互動式網頁開發的部分有興趣與熱情，未來希望可以往這個方向學習與前進。

	section#uki_skills.skill_box
		.container
			.row
				.col-xs-12
					.titlebar_line
						h2.titles_line_font Skills
				.col-xs-12
					ul.uki_skills
						li
							i.fab.fa-html5
						li
							i.fab.fa-css3-alt
						li
							i.fab.fa-sass
						li
							i.fab.fa-js-square
						li 
							i.fab.fa-vuejs
						li
							i.fab.fa-npm
						li
							i.fab.fa-gulp
						li
							i.fab.fa-git-alt
						li
							i.fab.fa-gitlab
						li
							i.fab.fa-docker

	section#uki_works
		.container
			.row
				.col-xs-12.titlebar_line
					h2.titles_line_font Works
				.col-xs-12
					.title_radiusTitlebar
						h4 企業形象&電商作品
					ul.row.grid_box.jq_carousel
						+works('https://bit.ly/2RjTwMi','background-image:url(images/brand/grassland.svg);','草山境','Grassland','Html5、Css3、JQuery')
						+works('https://bit.ly/2ybgTyN','background-image:url(images/brand/good_inside.svg);','好蘊設計','Good Inside','Html5、Css3、JQuery')
						+works('http://bit.ly/2HtmfL6','background-image:url(images/brand/honmeiglass.svg);','鴻揚藝術玻璃','HyClass','Pug、Sass、JQuery、Gulp')
						+works('https://bit.ly/2QsjUSN','background-image:url(images/brand/mystar.svg);','明星保養品','MYSTAR','Pug、Sass、JQuery、Gulp')
						+works('http://bit.ly/2UUMxO5','background-image:url(images/brand/meiaka.svg);','梅仔咖','meizir','Html5、Css3、JQuery')
						+works('https://bit.ly/3rb7MK7','background-image:url(images/brand/t-sweet.png);','微甜森林','Sweetforest','Html5、Css3、JQuery')
						+works('https://bit.ly/3K0QOXp','background-image:url(images/brand/chihshian.png);','至賢攝影','ChihShian Photography','Html5、Css3、JQuery')
						+works('https://bit.ly/2IB0Or5','background-image:url(images/brand/cappero.png);','卡沛諾義式餐酒館','Cappero','Pug、Sass、JQuery、Gulp')
				.col-xs-12
					.title_radiusTitlebar
						h4 公司系統作品
					ul.row.grid_box.jq_carousel
						+lightbox('images/album/bts.jpg','background-image:url(images/album/bts.jpg);','組車廠綁定系統','Bicycle tools system','Vue、Websocket、Javascript')
						+albums01('album01','images/album/tBike01.jpg','background-image:url(images/album/tBike01.jpg);','T牌腳踏車檢測系統','Service Tool','Vue、Websocket、Javascript')
						+albums02('album02','images/album/qBike01.jpg','background-image:url(images/album/qBike01.jpg);','Q牌腳踏車檢測系統','Service Tool','Vue、Websocket、Javascript')
						+albums03('album03','images/album/eBike00.jpg','background-image:url(images/album/eBike00.jpg);','腳踏車檢測系統','Service Tool','Vue、Electron、Javascript、Node.js')