extend layout/_layout.pug

include include/_mixins.pug

block content
	section#uki_slider
		.uki_v_infobox.fullbox
			.uki_caption.fullbox_cont
				img.img-circle.img-thumbnail(src="images/about_uki.jpg", alt="I am Uki")
				.caption
					h2 Hi! 我是清瀠
					.caption_typed
						p I Am Web Developer
						p I Am Front-End Engineer
					span#typed
			canvas.slider_mask
			.bg_svg
				svg(x='0px', y='0px', viewBox='0 186.5 1920 113.5')
					polygon(points='-30,300 355.167,210.5 1432.5,290 1920,198.5 1920,300')

	section#uki_profile
		.container
			.row
				.col-xs-12.titlebar_line
					h2.titles_line_font About Me
				.col-xs-12.col-sm-5.col-md-4
					.uki_info
						h3 李清瀠
							small Polly Lee
						p 前端工程師
						p 
							a(href="mailto:polly0215yu@gmail.com") polly0215yu@gmail.com
						ul.social_media
							li
								a(href="#", target="_blank")
									i.fab.fa-line
							li
								a(href="https://www.linkedin.com/in/polly-lee-a02454163/", target="_blank")
									i.fab.fa-linkedin
							li
								a(href="https://github.com/pollyPO1986", target="_blank")
									i.fab.fa-github-square
				.col-xs-12.col-sm-7.col-md-8
					.textedit.about_uki
						p 我叫李清瀠，喜歡學習新事物，對於自己有興趣的領域，都會自行收集資料及自學，工作後的空檔都會去進修網頁前端相關的課程與參與技術社群活動。
						p 前端工程師的相關工作經驗約 7 年，後期 3-4 年主力在前端程式架構與邏輯上的開發。
						p 工作經歷有：負責網頁或系統介面的前置討論及部分 UX 動線規劃、UI 切板及整體網頁的動態效果、串接 API 綁定畫面資料等，主要是使用 Vue 框架進行開發。
						p 現職工作除了開發功能外，還有進行前端技術文件的整理與分享，運用之前工作經驗替團隊整合前端的寫作規範與新技術的導入，後期開始帶領新進的前端同事，使用前面整理的技術文件進行教育訓練。 主持前端讀書會，希望帶動團隊學習氣氛以及促進與其他部門夥伴間的交流。
						p 本身對於網頁的動態視覺效果、使用者微互動的部分有熱情，對於與 UI 同仁一同創造出有質感且操作動線流暢的網站畫面有追求，未來希望可以更往這個方向學習與前進。

	section#uki_skills.skill_box
		.container
			.row
				.col-xs-12
					.titlebar_line
						h2.titles_line_font Skills
				.col-xs-12
					ul.uki_skills
						li
							i.fab.fa-html5
						li
							i.fab.fa-css3-alt
						li
							i.fab.fa-sass
						li
							i.fab.fa-js-square
						li 
							i.fab.fa-vuejs
						li
							i.fab.fa-npm
						li
							i.fab.fa-gulp
						li
							i.fab.fa-git-alt
						li
							i.fab.fa-gitlab
						li
							i.fab.fa-docker

	section#uki_works
		.container
			.row
				.col-xs-12.titlebar_line
					h2.titles_line_font Works
				.col-xs-12
					.title_radiusTitlebar
						h4 企業形象&電商作品
					ul.row.grid_box.jq_carousel
						+works('https://bit.ly/2RjTwMi','background-image:url(images/brand/grassland.svg);','草山境','Grassland','Html5、Css3、JQuery')
						+works('https://bit.ly/2ybgTyN','background-image:url(images/brand/good_inside.svg);','好蘊設計','Good Inside','Html5、Css3、JQuery')
						+works('http://bit.ly/2HtmfL6','background-image:url(images/brand/honmeiglass.svg);','鴻揚藝術玻璃','HyClass','Pug、Sass、JQuery、Gulp')
						+works('https://bit.ly/2QsjUSN','background-image:url(images/brand/mystar.svg);','明星保養品','MYSTAR','Pug、Sass、JQuery、Gulp')
						+works('http://bit.ly/2UUMxO5','background-image:url(images/brand/meiaka.svg);','梅仔咖','meizir','Html5、Css3、JQuery')
						+works('https://bit.ly/3rb7MK7','background-image:url(images/brand/t-sweet.png);','微甜森林','Sweetforest','Html5、Css3、JQuery')
						+works('https://bit.ly/3K0QOXp','background-image:url(images/brand/chihshian.png);','至賢攝影','ChihShian Photography','Html5、Css3、JQuery')
						+works('https://bit.ly/2IB0Or5','background-image:url(images/brand/cappero.png);','卡沛諾義式餐酒館','Cappero','Pug、Sass、JQuery、Gulp')
				.col-xs-12
					.title_radiusTitlebar
						h4 公司系統作品
					ul.row.grid_box.jq_carousel
						+lightbox('images/album/bts.jpg','background-image:url(images/album/bts.jpg);','組車廠綁定系統','Bicycle tools system','Vue、Websocket、Javascript')
						+albums01('album01','images/album/tBike01.jpg','background-image:url(images/album/tBike01.jpg);','T牌腳踏車檢測系統','Service Tool','Vue、Websocket、Javascript')
						+albums02('album02','images/album/qBike01.jpg','background-image:url(images/album/qBike01.jpg);','Q牌腳踏車檢測系統','Service Tool','Vue、Websocket、Javascript')
						+albums03('album03','images/album/eBike00.jpg','background-image:url(images/album/eBike00.jpg);','腳踏車檢測系統','Service Tool','Vue、Electron、Javascript、Node.js')